services:
  astarte-housekeeping:
    image: astarte/astarte_housekeeping:1.3-snapshot
    build:
      dockerfile: apps/astarte_housekeeping/Dockerfile
      context: .
    env_file:
      - ./.env
    environment:
      HOUSEKEEPING_API_JWT_PUBLIC_KEY_PATH: "/keys/housekeeping_public.pem"
      HOUSEKEEPING_AMQP_HOST: "rabbitmq"
    volumes:
      - ./compose/astarte-keys/housekeeping_public.pem:/keys/housekeeping_public.pem:z
    restart: on-failure
    depends_on:
      - "rabbitmq"
      - "traefik"
      - "scylla"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.astarte-housekeeping.rule=Host(`api.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}`) && PathPrefix(`/housekeeping`)"
      - "traefik.http.routers.astarte-housekeeping.entrypoints=web"
      - "traefik.http.routers.astarte-housekeeping.middlewares=astarte-housekeeping"
      - "traefik.http.routers.astarte-housekeeping.service=astarte-housekeeping"
      - "traefik.http.middlewares.astarte-housekeeping.stripprefix.prefixes=/housekeeping"
      - "traefik.http.services.astarte-housekeeping.loadbalancer.server.port=4001"

  astarte-realm-management:
    image: astarte/astarte_realm_management:1.3-snapshot
    build:
      dockerfile: apps/astarte_realm_management/Dockerfile
      context: .
    env_file:
      - ./.env
    restart: on-failure
    environment:
      ASTARTE_EVENTS_PRODUCER_AMQP_HOST: "rabbitmq"
    depends_on:
      - "rabbitmq"
      - "traefik"
      - "scylla"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.astarte-realm-management.rule=Host(`api.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}`) && PathPrefix(`/realmmanagement`)"
      - "traefik.http.routers.astarte-realm-management.entrypoints=web"
      - "traefik.http.routers.astarte-realm-management.middlewares=astarte-realm-management"
      - "traefik.http.routers.astarte-realm-management.service=astarte-realm-management"
      - "traefik.http.middlewares.astarte-realm-management.stripprefix.prefixes=/realmmanagement"
      - "traefik.http.services.astarte-realm-management.loadbalancer.server.port=4000"

  astarte-pairing:
    image: astarte/astarte_pairing:1.3-snapshot
    build:
      dockerfile: apps/astarte_pairing/Dockerfile
      context: .
    env_file:
      - ./.env
    environment:
      PAIRING_CFSSL_URL: "http://cfssl:8080"
      ASTARTE_EVENTS_PRODUCER_AMQP_HOST: "rabbitmq"
      ASTARTE_BASE_URL_DOMAIN: "api.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}"
      ASTARTE_BASE_URL_PORT: 80
      ASTARTE_BASE_URL_PROTOCOL: "http"
      PAIRING_FDO_RENDEZVOUS_URL: "http://rendezvous:8041"
      PAIRING_FDO_ENABLE_CREDENTIAL_REUSE: true
    restart: on-failure
    depends_on:
      - "rabbitmq"
      - "scylla"
      - "traefik"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.astarte-pairing.rule=Host(`api.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}`) && PathPrefix(`/pairing`)"
      - "traefik.http.routers.astarte-pairing.entrypoints=web"
      - "traefik.http.routers.astarte-pairing.middlewares=astarte-pairing"
      - "traefik.http.routers.astarte-pairing.service=astarte-pairing"
      - "traefik.http.middlewares.astarte-pairing.stripprefix.prefixes=/pairing"
      - "traefik.http.services.astarte-pairing.loadbalancer.server.port=4003"
        # Route for fdo
      - "traefik.http.routers.fdo-rewrite-router.rule=Host(`${FDO_REALM:-test}.api.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}`)"
      - "traefik.http.routers.fdo-rewrite-router.entrypoints=web"
      - "traefik.http.routers.fdo-rewrite-router.middlewares=fdo-rewrite-mid"
      - "traefik.http.routers.fdo-rewrite-router.service=astarte-pairing"
      - "traefik.http.middlewares.fdo-rewrite-mid.addprefix.prefix=/v1/${FDO_REALM:-test}"

  astarte-appengine-api:
    image: astarte/astarte_appengine_api:1.3-snapshot
    build:
      dockerfile: apps/astarte_appengine_api/Dockerfile
      context: .
    env_file:
      - ./.env
    environment:
      APPENGINE_API_ROOMS_AMQP_CLIENT_HOST: "rabbitmq"
    restart: on-failure
    depends_on:
      - "rabbitmq"
      - "scylla"
      - "traefik"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.astarte-appengine-api.rule=Host(`api.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}`) && PathPrefix(`/appengine`)"
      - "traefik.http.routers.astarte-appengine-api.entrypoints=web"
      - "traefik.http.routers.astarte-appengine-api.middlewares=astarte-appengine-api"
      - "traefik.http.routers.astarte-appengine-api.service=astarte-appengine-api"
      - "traefik.http.middlewares.astarte-appengine-api.stripprefix.prefixes=/appengine"
      - "traefik.http.services.astarte-appengine-api.loadbalancer.server.port=4002"

  astarte-data-updater-plant:
    image: astarte/astarte_data_updater_plant:1.3-snapshot
    build:
      context: .
      dockerfile: apps/astarte_data_updater_plant/Dockerfile
    env_file:
      - ./.env
    environment:
      DATA_UPDATER_PLANT_AMQP_CONSUMER_HOST: "rabbitmq"
      ASTARTE_EVENTS_PRODUCER_AMQP_HOST: "rabbitmq"
      DATA_UPDATER_PLANT_AMQP_PRODUCER_HOST: "rabbitmq"
      DATA_UPDATER_PLANT_AMQP_PRODUCER_PORT: "5672"
      DATA_UPDATER_PLANT_AMQP_PRODUCER_USERNAME: "guest"
      DATA_UPDATER_PLANT_AMQP_PRODUCER_PASSWORD: "guest"
      DATA_UPDATER_PLANT_AMQP_PRODUCER_VIRTUAL_HOST: "/"
    restart: on-failure
    depends_on:
      - "rabbitmq"
      - "scylla"

  astarte-trigger-engine:
    image: astarte/astarte_trigger_engine:1.3-snapshot
    build:
      dockerfile: apps/astarte_trigger_engine/Dockerfile
      context: .
    env_file:
      - ./.env
    environment:
      TRIGGER_ENGINE_AMQP_CONSUMER_HOST: "rabbitmq"
    restart: on-failure
    depends_on:
      - "rabbitmq"
      - "scylla"

  astarte-dashboard:
    image: astarte/astarte-dashboard:1.2-snapshot
    volumes:
      - ./compose/astarte-dashboard/config.json:/usr/share/nginx/html/user-config/config.json:z
    depends_on:
      - "astarte-realm-management"
      - "astarte-appengine-api"
      - "traefik"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.astarte-dashboard.rule=Host(`dashboard.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}`)"
      - "traefik.http.routers.astarte-dashboard.entrypoints=web"
      - "traefik.http.routers.astarte-dashboard.service=astarte-dashboard"
      - "traefik.http.services.astarte-dashboard.loadbalancer.server.port=80"

  astarte-grafana:
    image: astarte/grafana:1.2.0
    depends_on:
      - "astarte-appengine-api"
      - "traefik"
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.astarte-grafana.rule=Host(`grafana.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}`)"
      - "traefik.http.routers.astarte-grafana.entrypoints=web"
      - "traefik.http.routers.astarte-grafana.service=astarte-grafana"
      - "traefik.http.services.astarte-grafana.loadbalancer.server.port=3000"

  traefik:
    image: traefik:v3.6
    restart: on-failure
    command:
      # Uncomment this if you want to enable Traefik's web UI
      - "--api.insecure=true"
      # Tells Traefik to listen to docker
      - "--providers.docker"
      # Don't expose everything
      - "--providers.docker.exposedbydefault=false"
      # Expose Astarte API/Dahsboard/Grafana
      - "--entrypoints.web.address=:80"
      # Expose Astarte broker
      - "--entryPoints.vernemq.address=:8883"
      # Logging
      - "--log.level=DEBUG"
      - "--accesslog=true"
    ports:
      # The HTTP port
      - "80:80"
      # Uncomment this if you want to display Traefik's web UI (enabled by --api.insecure=true)
      - "8080:8080"
      # VerneMQ's SSL Listener
      - "8883:8883"
    volumes:
      # So that Traefik can listen to the Docker events
      - ${DOCKER_HOST:-/var/run/docker.sock}:/var/run/docker.sock:z
    security_opt:
      - label=type:container_runtime_t
    networks:
      default:
        aliases:
          # Create traefik aliases for its hosts, so that other containers
          # in the same network can curl them.
          - api.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}
          - dashboard.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}
          - grafana.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}
          - broker.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}
          - ${FDO_REALM:-test}.api.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}

  rendezvous:
    image: astarte/go-fdo-server:ade68cda47-20251128
    restart: on-failure
    command: '--log-level=debug rendezvous 0.0.0.0:8041 --db-type sqlite --db-dsn "file:/var/lib/fdo/rendezvous.db"'
    volumes:
      - fdo-rendezvous-data:/var/lib/fdo:z
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.fdo-rendezvous.rule=Host(`fdo.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}`)"
      - "traefik.http.routers.fdo-rendezvous.entrypoints=web"
      - "traefik.http.routers.fdo-rendezvous.service=fdo-rendezvous"
      - "traefik.http.services.fdo-rendezvous.loadbalancer.server.port=8041"

  # RabbitMQ
  rabbitmq:
    image: rabbitmq:3.12.0-management
    restart: on-failure
    volumes:
      - rabbitmq-data:/var/lib/rabbitmq

  # CFSSL
  cfssl:
    image: astarte/cfssl:1.5.0-astarte.4
    volumes:
      - ./compose/cfssl-config:/config:z
      - cfssl-data:/data
    command: cfssl serve -address=0.0.0.0 -ca=/data/ca.pem -ca-key=/data/ca-key.pem -port=8080 -config=/etc/cfssl/ca_root_config.json
    # Restart if we fail
    restart: on-failure

  # Scylla
  scylla:
    image: scylladb/scylla:5.2.2
    restart: on-failure
    volumes:
      - scylla-data:/var/lib/scylla

  # VerneMQ
  vernemq:
    image: astarte/vernemq:1.2-snapshot
    env_file:
      - ./.env
    environment:
      DOCKER_VERNEMQ_LISTENER__SSL__DEFAULT__CAFILE: "/opt/vernemq/etc/ca.pem"
      DOCKER_VERNEMQ_LISTENER__SSL__DEFAULT__CERTFILE: "/opt/vernemq/etc/cert.pem"
      DOCKER_VERNEMQ_LISTENER__SSL__DEFAULT__KEYFILE: "/opt/vernemq/etc/privkey.pem"
      DOCKER_VERNEMQ_ASTARTE_VMQ_PLUGIN__AMQP__USERNAME: "guest"
      DOCKER_VERNEMQ_ASTARTE_VMQ_PLUGIN__AMQP__PASSWORD: "guest"
      DOCKER_VERNEMQ_ASTARTE_VMQ_PLUGIN__AMQP__HOST: "rabbitmq"
      DOCKER_VERNEMQ_USER_appengine: "appengine"
      DOCKER_VERNEMQ_ASTARTE_VMQ_PLUGIN__CASSANDRA__NODES: "scylla:9042"
      CFSSL_URL: "http://cfssl:8080"
    volumes:
      - vernemq-data:/opt/vernemq/data
      - ./compose/vernemq-certs:/etc/ssl/vernemq-certs:z
    depends_on:
      - "cfssl"
      - "rabbitmq"
      - "traefik"
    # Ensure we wait for rabbit and cfssl
    command: wait-for rabbitmq:5672 -t 90 -- wait-for cfssl:8080 -t 90 -- /opt/vernemq/bin/vernemq.sh
    # Restart if we fail
    restart: on-failure
    labels:
      - "traefik.enable=true"
      - "traefik.tcp.routers.vernemq.rule=HostSNI(`broker.${DOCKER_COMPOSE_ASTARTE_BASE_DOMAIN}`)"
      - "traefik.tcp.routers.vernemq.entrypoints=vernemq"
      - "traefik.tcp.routers.vernemq.tls.passthrough=true"
      - "traefik.tcp.routers.vernemq.service=vernemq"
      - "traefik.tcp.services.vernemq.loadbalancer.server.port=8883"

volumes:
  rabbitmq-data:
  scylla-data:
  vernemq-data:
  cfssl-data:
  fdo-rendezvous-data:

networks:
  default:
    name: astarte
