services:
  astarte-housekeeping:
    build:
      target: builder
      args:
        BUILD_ENV: dev
    command:
      - |
          set -e
          mix eval Elixir.Astarte.Housekeeping.ReleaseTasks.init_database
          mix eval Elixir.Astarte.Housekeeping.ReleaseTasks.migrate
          mix run --no-halt
    develop:
      watch:
        - path: apps/astarte_housekeeping/lib
          action: rebuild
  astarte-realm-management:
    build:
      target: builder
      args:
        BUILD_ENV: dev
    command:
      - |
          mix run --no-halt
    develop:
      watch:
        - path: apps/astarte_realm_management/lib
          action: rebuild
  astarte-pairing:
    build:
      target: builder
      args:
        BUILD_ENV: dev
    command:
      - |
          mix run --no-halt
    develop:
      watch:
        - path: apps/astarte_pairing/lib
          action: rebuild
  astarte-appengine-api:
    build:
      target: builder
      args:
        BUILD_ENV: dev
    command:
      - |
          mix phx.server
    develop:
      watch:
        - path: apps/astarte_appengine_api/lib
          action: sync
          target: /src/lib
  astarte-data-updater-plant:
    build:
      target: builder
      args:
        BUILD_ENV: dev
    command:
      - |
          mix run --no-halt
    develop:
      watch:
        - path: apps/astarte_data_updater_plant/lib
          action: rebuild
  astarte-trigger-engine:
    build:
      target: builder
      args:
        BUILD_ENV: dev
    command:
      - |
          mix run --no-halt
    develop:
      watch:
        - path: apps/astarte_trigger_engine/lib
          action: rebuild
