name: Test Container Builds

on:
  pull_request:
    paths:
      - "**/Dockerfile"
      - "**/entrypoint.sh"
      - ".github/workflows/pr-container-build-workflow.yaml"

jobs:
  test-build-container:
    name: Test Container Build
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        app:
          - astarte-appengine-api
          - astarte-data-updater-plant
          - astarte-housekeeping
          - astarte-pairing
          - astarte-realm-management
          - astarte-trigger-engine
    steps:
      - uses: actions/checkout@v4
      - name: Building Docker Image
        env:
          CONTAINER_IMAGE_NAME: gh_actions_test
        run: docker compose build ${{ matrix.app }}
