name: Publish Docker images

on:
  release:
    types: [published]
  workflow_dispatch:
    inputs:
      target_tag:
        description: "The ref run this workflow against (e.g., v1.0.0)"
        required: true
        type: string

jobs:
  astarte_appengine_api:
    uses: ./.github/workflows/astarte-apps-build-workflow.yaml
    with:
      app: "astarte_appengine_api"
    secrets: inherit

  astarte_data_updater_plant:
    uses: ./.github/workflows/astarte-apps-build-workflow.yaml
    with:
      app: "astarte_data_updater_plant"
    secrets: inherit

  astarte_housekeeping:
    uses: ./.github/workflows/astarte-apps-build-workflow.yaml
    with:
      app: "astarte_housekeeping"
    secrets: inherit

  astarte_pairing:
    uses: ./.github/workflows/astarte-apps-build-workflow.yaml
    with:
      app: "astarte_pairing"
    secrets: inherit

  astarte_realm_management:
    uses: ./.github/workflows/astarte-apps-build-workflow.yaml
    with:
      app: "astarte_realm_management"
    secrets: inherit

  astarte_trigger_engine:
    uses: ./.github/workflows/astarte-apps-build-workflow.yaml
    with:
      app: "astarte_trigger_engine"
    secrets: inherit

  e2e_tests:
    uses: ./.github/workflows/astarte-end-to-end-test-workflow.yaml

  build_release:
    name: Push Docker images to Docker Hub
    runs-on: ${{ matrix.platform.os }}
    permissions:
      packages: write
      contents: read
      attestations: write
      id-token: write
    strategy:
      fail-fast: true
      matrix:
        platform:
          - os: ubuntu-22.04
            platform: linux/amd64
            platform-pair: linux-amd64
          - os: ubuntu-22.04-arm
            platform: linux/arm64
            platform-pair: linux-arm64
        app:
          - astarte_appengine_api
          - astarte_data_updater_plant
          - astarte_housekeeping
          - astarte_pairing
          - astarte_realm_management
          - astarte_trigger_engine
    needs:
      - astarte_appengine_api
      - astarte_data_updater_plant
      - astarte_housekeeping
      - astarte_pairing
      - astarte_realm_management
      - astarte_trigger_engine
      - e2e_tests
    steps:
      - name: Check out the repo
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          ref: ${{ inputs.target_tag || github.ref }}

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build Docker image
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        id: build
        with:
          context: .
          build-args: SERVICE=${{ matrix.app }}
          push: true
          tags: astarte/${{ matrix.app }}
          platforms: ${{ matrix.platform.platform }}
          outputs: type=image,push-by-digest=true,name-canonical=true,push=true

      - name: Export digest
        run: |
          mkdir -p ${{ runner.temp }}/digests/
          digest="${{ steps.build.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"

      - name: Upload digest
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4
        with:
          name: ${{ matrix.app }}-digests-${{ matrix.platform.platform-pair }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge_images:
    name: Publish release
    runs-on: ubuntu-22.04
    needs:
      - build_release
    strategy:
      fail-fast: true
      matrix:
        app:
          - astarte_appengine_api
          - astarte_data_updater_plant
          - astarte_housekeeping
          - astarte_pairing
          - astarte_realm_management
          - astarte_trigger_engine
    steps:
      - name: Download digests
        uses: actions/download-artifact@d3f86a106a0bac45b974a628896c90dbdf5c8093 # v4
        with:
          path: ${{ runner.temp }}/digests
          pattern: ${{ matrix.app }}-digests-*
          merge-multiple: true

      - name: Login to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@9ec57ed1fcdbf14dcef7dfbe97b2010124a938b7
        with:
          images: |
            astarte/${{ matrix.app }}
          tags: |
            type=semver,pattern={{version}}

      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests/
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf 'astarte/${{ matrix.app }}@sha256:%s ' *)
